<body>
  <div class="container-fluid position-relative d-flex p-0">
    <!-- Spinner Start -->
    <div *ngIf="isLoading" id="spinner"
      class="bg-dark position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
      <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <!-- Spinner End -->

    <!-- Register Start -->
    <div class="container-fluid">
      <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
        <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
          <div class="bg-secondary rounded p-4 p-sm-5 my-4 mx-3">
            <div class="d-flex align-items-center justify-content-between mb-3">
              <h3 class="text-primary">
                <i class="fa fa-book-open me-2"></i>{{ isEditMode ? 'Modifier la Formation' : 'Créer une Formation' }}
              </h3>
            </div>
            <!-- Messages -->
            <div *ngIf="successMessage" class="alert alert-success mt-3" role="alert">
              {{ successMessage }}
            </div>

            <div *ngIf="errorMessage" class="alert alert-danger mt-3" role="alert">
              {{ errorMessage }}
            </div>

            <form (ngSubmit)="onSubmit()">

              <!-- Titre Formation -->
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="titre" [(ngModel)]="titre" name="titre" placeholder="nom formation" required/>
                <label for="titre">Titre</label>
              </div>

              <!-- Description -->
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="description" [(ngModel)]="description" name="description" placeholder="description de la formation"/>
                <label for="description">Description</label>
              </div>

              <!-- Durée -->
              <div class="form-floating mb-3">
                <input type="number" class="form-control" id="dureeHeures" [(ngModel)]="dureeHeures" name="dureeHeures" required min="1"/>
                <label for="dureeHeures">Durée (Heures)</label>
              </div>

              <!-- Prix -->
              <div class="form-floating mb-3">
                <div class="input-group">
                  <input type="number" class="form-control" id="prix" [(ngModel)]="prix" name="prix" required min="0" placeholder="0.00"/>
                  <span class="input-group-text">DT</span>
                </div>
              </div>

              <!-- Bouton Create -->
              <button type="submit" class="btn btn-primary py-3 w-100 mb-4"
                [disabled]="!titre || !description || !dureeHeures || dureeHeures <= 0 || !prix || prix < 0" >
                {{ isEditMode ? 'Modifier' : 'Créer' }}
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Register End -->
</body>