<div class="container-fluid position-relative d-flex p-0">

    <div class="container-fluid">
        <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
            <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
                <div class="bg-secondary rounded p-4 p-sm-5 my-4 mx-3">

                    <div class="d-flex align-items-center justify-content-between mb-3">
                        <h3 class="text-primary"><i class="fa fa-user-edit me-2"></i>Register</h3>
                    </div>

                    <!-- NOM -->
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="nom" [(ngModel)]="user.nom" name="nom">
                        <label for="nom">Nom</label>
                    </div>

                    <!-- PRENOM -->
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="prenom" [(ngModel)]="user.prenom" name="prenom">
                        <label for="prenom">Prénom</label>
                    </div>

                    <!-- EMAIL -->
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="email" [(ngModel)]="user.email" name="email">
                        <label for="email">Email</label>
                    </div>

                    <!-- PASSWORD -->
                    <div class="form-floating mb-4">
                        <input type="password" class="form-control" id="password" [(ngModel)]="user.password" name="password">
                        <label for="password">Mot de passe</label>
                    </div>

                    <!-- TELEPHONE -->
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="telephone" [(ngModel)]="user.telephone" name="telephone">
                        <label for="telephone">Téléphone</label>
                    </div>
                    <!-- Image -->
                    <div class="mb-3">
                        <label for="image" class="form-label">Importer votre Image</label>
                        <input class="form-control bg-dark" type="file" id="image" (change)="onImageSelected($event)">
                    </div>

                    <!-- ROLE -->
                    <div class="form-floating mb-3">
                        <select class="form-select" id="roleSelect" [(ngModel)]="user.role" name="role">
                            <option value="" disabled selected>Choisir un rôle</option>
                            <option value="CLIENT">Client</option>
                            <option value="FORMATEUR">Formateur</option>
                        </select>
                        <label for="roleSelect">Rôle</label>
                    </div>

                    <!-- ADRESSE (Client uniquement) -->
                    <div class="form-floating mb-3" *ngIf="user.role === 'CLIENT'">
                        <input type="text" class="form-control" id="adresse" [(ngModel)]="user.adresse" name="adresse">
                        <label for="adresse">Adresse</label>
                    </div>

                    <!-- CV (Formateur uniquement) -->
                    <div class="mb-3" *ngIf="user.role === 'FORMATEUR'">
                        <label for="cvPath" class="form-label">Importer votre CV (PDF)</label>
                        <input class="form-control bg-dark" type="file" id="cvPath" (change)="onCvSelected($event)" accept="application/pdf">
                    </div>
                                        
                    <!-- specialite (Formateur uniquement) -->
                    <div class="form-floating mb-3" *ngIf="user.role === 'FORMATEUR'">
                        <input type="text" class="form-control" id="specialite" [(ngModel)]="user.specialite" name="specialite">
                        <label for="specialite">Spécialité</label>
                    </div>

                    <button class="btn btn-primary py-3 w-100 mb-4" (click)="register()">
                        Sign Up
                    </button>

                    <p class="text-center mb-0">Already have an Account? <a routerLink="/login">Sign In</a></p>

                </div>
            </div>
        </div>
    </div>
</div>
