<div class="sidebar pe-4 pb-3">
    <nav class="navbar bg-secondary navbar-dark">
        <a href="index.html" class="navbar-brand mx-4 mb-3">
            <h3 class="text-primary"><i class="fa fa-user-edit me-2"></i>DarkPan</h3>
        </a>
        <div class="d-flex align-items-center ms-4 mb-4">

            <div class="ms-3">
                <h6 class="mb-0">{{ currentUser?.firstName }}</h6>
                <span></span>
            </div>
        </div>
        <div class="navbar-nav w-100">
            <a [routerLink]="['/dashboard']" class="nav-item nav-link"><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>

                        <div class="nav-item dropdown">
                
            </div>
        </div>
    </nav>
</div>