<div class="sidebar pe-4 pb-3">
    <nav class="navbar bg-secondary navbar-dark">
        <a href="index.html" class="navbar-brand mx-4 mb-3">
            <h3 class="text-primary"><i class="fa fa-user-edit me-2"></i>DarkPan</h3>
        </a>
        <div class="d-flex align-items-center ms-4 mb-4">

            <div class="ms-3">
                <h6 class="mb-0">{{ currentUser?.firstName }}</h6>
                <span></span>
            </div>
        </div>
        <div class="navbar-nav w-100">
            <a [routerLink]="['/dashboard']" class="nav-item nav-link"><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>

            <a [routerLink]="['/formation_list']" class="nav-item nav-link"><i class="fa fa-th me-2"></i>Liste Formation</a>
            <a [routerLink]="['/formateur_list']" class="nav-item nav-link"><i class="fa fa-th me-2"></i>Liste Formateur</a>
            <a [routerLink]="['/users']" class="nav-item nav-link"><i class="fa fa-th me-2"></i>Liste utilisateurs</a>
            <a [routerLink]="['/etudiant_list']" class="nav-item nav-link"><i class="fa fa-th me-2"></i>Liste etudiants</a>

            <a [routerLink]="['/inscription_list']" class="nav-item nav-link"><i class="fa fa-th me-2"></i>Liste Inscription</a>
            <a [routerLink]="['/salle_list_admin']" class="nav-item nav-link"><i class="fa fa-th me-2"></i>Liste Salle</a>


            <a [routerLink]="['/salle_list']" class="nav-item nav-link"><i class="fa fa-keyboard me-2"></i>Creer une Formation</a>
            <a [routerLink]="['/salle_create']" class="nav-item nav-link"><i class="fa fa-table me-2"></i>Creer une salle</a>
            <a [routerLink]="['/formation_liste_formateur', FormateurId]" class="nav-item nav-link active"><i class="fa fa-chart-bar me-2"></i>Creer une evaluation</a>
            <div class="nav-item dropdown">
                
            </div>
        </div>
    </nav>
</div>